/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}
/*******************HEADER***************************/
header {
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    font-weight: bold;
}
.header-buttons{
    text-align: center;
    display: flex;
    padding: 10px 20px;
    width: 90px;
    text-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: white;
}
.hired
{
    background-color: #ae6ffa;
}
.hire
{
    background-color: #00a5ff;
    margin-right: 80px;
}
/*****************END HEADER*********************/

/*****************HERO SECTION*******************/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 50px;
    background-color: white;
}

.hero-content {
    max-width: 50%;
    padding-right: 20px;
}

.hero h1 {
    font-size: 4.5em;
    margin-bottom: 20px;
    color: black;
}

.hero button {
    padding: 13px 35px;
    font-size: 1.2em;
    align-content: center;
    margin-bottom: 20px;
    background-color: #00a5ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.hero button:hover {
    background-color: #0056b3;
}
.hero p {
    font-size: 1.2em;
    color: #666;

}

.hero-image img {
    max-width: 100%;
    height: auto;
}
/******************END HERO SECTION***********************/

/******************SECTION HOW IT WORKS*******************/
.how-it-works {
    text-align: center;
    padding: 50px;
    background-color:   #f7f7f7;
}
.how-it-works h2 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px;
}
.how-it-works .hw-text
{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 700px;
    font-weight: 600;
    margin-bottom: 30px;
}
.steps {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.step {
    flex: 1;
    min-width: 200px;
    margin: auto;
}

.step h3 {
    font-size: 2em;
    background-color: #00a5ff;
    margin: 10px 0;
    width: 50px;
    height: 50px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
}
.step .border
{
    background-color: white;
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    border-radius: 50%;
}
.step .title{
    font-size: 1.5em;
    color: black;
    font-weight: 600;
}
.step .text
{
    width: 250px;
    margin: auto;
}
/*****************END HOW IT WORKS********************/

/******************Hero 2 SECTION*********************/
.why-hire {
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
}

.why-hire h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.why-hire p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 10px;
}
/********************END HERO 2*********************/

/***************SUCESFUL PLACEMENTS*****************/
.successful-placements {
    text-align: center;
    padding: 50px;
    background-color: #f7f7f7;
}

.successful-placements h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}

.successful-placements p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.companies {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 35px;
}

.companies .companiesIMG {
    max-width: 220px;
    height: auto;
}

.employees {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.employees .letrN
{
    font-size: 1.5em;
    font-weight: 600;
}
.employees .textEmployees{
    font-size: 1em;
    width: 200px;
    margin: auto;
}

.employee {
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.employee img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.employee p {
    margin: 5px 0;
}
.letrN{
    font-weight: bold;
}
/*****************HERO2 SECTION*******************/
.hero2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 50px;
    background-color: white;
}

.hero2-content {
    max-width: 50%;
    padding-right: 20px;
}

.hero2 h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: black;
}
.hero2 h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #00a5ff;
}

.hero2 button {
    padding: 13px 35px;
    font-size: 1.2em;
    align-content: center;
    margin-bottom: 20px;
    background-color: #00a5ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.hero2 button:hover {
    background-color: #00a5ff;
}
.hero2 p {
    font-size: 1.2em;
    color: #666;

}

.hero2-image img {
    width: 500px;
    height:520px;   
}
/******************END HERO2 SECTION***********************/

/******************SLIDER***********************/
.sliderr{
    text-align: center;
    font-size: 3em;
}
.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative; 
    
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    
    box-sizing: border-box;
    width: 600px;
    height: 400px;
}
.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.arrow:hover {
    color: #333;
}
.twitter-tweet {
    display: none;
}

/******************END SLIDER***********************/

/*****************FAQ QUESTIONS****************************/
.faq-section {
    margin: auto;
    background-color: #f8f8f8;
    padding: 20px;
}

.faq-title {
    font-size: 3em;
    text-align: center;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    
}

.faq-question {
    background-color: #f8f8f8;
    padding: 10px;
    color: #00a5ff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    border-bottom: 1px solid #ccc;
    margin:0 30px 0 30px;
    transform: translateY(-10px); /* Desplaza ligeramente hacia arriba */
    transition: max-height 0.3s ease-out, transform 0.3s ease-out, opacity 0.3s ease-out; 

}
.faq-question.active {
    color: #ae6ffa;
    transform: translateY(0); /* Vuelve a la posición original */
    opacity: 1; /* Visible */
}
.faq-answer {
    display: none;
    padding: 10px;
    max-width: 1150px;
    margin: auto;
    font-size: 1em;
    border: 1px solid #ccc;
    border: none;
    margin-left: 0 30px 0 30px;
    background-color: #f8f8f8;

}

/**********************END FAQ QUESTIONS***********************/


/**********************READY TO ELEVATE************************/
.ready-to-elevate{
    text-align: center;
    padding: 50px;
}
.ready-to-elevate .container h2{
    font-size: 2.2em;
    max-width: 600px;
    margin: auto;
    font-weight: 700;
}
.ready-to-elevate a{
    text-align: center;
    display: flex;
    padding: 17px 17px;
    font-size: 1.2em;
    width: 145px;
    text-wrap: wrap;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00a5ff;
    margin: auto;
    margin-top: 30px;
}
/*****************END READY TO ELEVATE*********************/

/************************FOOTER****************************/
.footer {
    background-color: #3a2f52;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
.footer .content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}
.footer .left h2 {
    font-size: 2em;
}
.footer .right h3 {
    margin: 20px 10px;
}
.footer .left p {
    font-size: 1em;
    max-width: 250px;
    font-weight: 500;
}
.footer .left, .footer .right {
    flex: 1;
    margin: 10px 20px;
}
.footer .left {
    text-align: left;
}
.footer .right {
    text-align: right;
    margin: 10px 100px 10px auto;
}
.footer .social-icons {
    margin: 30px 0;
}
.footer .social-icons a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}
.footer .social-icons a:hover {
    color: #ccc;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #cccccc;
}
/*********************END FOOTER**********************/